@import '../../../assets/style/config.scss';

.MsgNum {
  border-radius: 6px;
  background-color: $iconRed;
  height: 12px;
  color: $white;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 4px;
  font-size: 0;
  .num {
    font-size: 12px;
    transform: scale(0.83333);
    display: inline-block;
    height: 12px;
    line-height: 12px;
  }
}
