@import '../../assets//style/config.scss';
$cardWidth: 389px;
$cardHeight: 534px;
$cardBrandNameMaxWidth: 389px - 48px - 72px - 16px - 16px;
$down-price-max-length: 389px - 16px -16px - 67px - 8px;

.CardContainer {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;

  & > * {
    margin-right: 16px;
    margin-bottom: 16px;
  }

  & > *:nth-child(3n) {
    margin-right: 0;
  }
}

.cardLoading {
  width: $cardWidth;
  height: $cardHeight;
  margin-right: 16px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  .hackSkeleton {
    width: $cardWidth;
    height: $cardHeight;
  }
}
.hackLink {
  display: unset;
}

// @mixin multLine($line) {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   display: -webkit-box;
//   -webkit-line-clamp: $line;
//   -webkit-box-orient: vertical;
// }

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

// 固定宽度超出...
.fixLength {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 基础遮罩
.mask {
  content: '';
  position: absolute;
  left: 0;
  // top: 0;
  width: $cardWidth;
  height: 60px;
  z-index: 5;
}

// 上面遮罩
.maskTop {
  @extend .mask;
  top: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

// 下面遮罩
.maskBottom {
  @extend .mask;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}

.card {
  width: $cardWidth;
  height: $cardHeight;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  // margin-right: 16px;
  // margin-bottom: 16px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #fff;

  &:hover {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.18);
  }

  .soldCover {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: $cardWidth;
    height: 292px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;

    .soldIcon {
      width: 160px;
      height: 160px;
      position: relative;
      padding: 10px 14px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  // 卡片上半部分
  .up {
    width: $cardWidth;
    height: 292px;
    // border: 1px solid red;
    position: relative;
    overflow: hidden;
    position: relative;
    z-index: 12;

    // 封面
    .cover {
      width: $cardWidth;
      height: 292px;
      object-fit: cover;
    }

    .coverTop {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // border: 1px solid red;
      height: 48px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background-color: transparent;
      z-index: 10;

      &:after {
        @extend .maskTop;
        content: '';
      }

      .brandLogo {
        width: 48px;
        height: 48px;
        // border: 1px solid red;
        margin-right: 4px;
        z-index: 10;
      }

      .brandName {
        @extend .fixLength;
        @include fontSFPro();
        max-width: $cardBrandNameMaxWidth;
        font-size: 14px;
        color: #ffffff;
        z-index: 10;
      }

      .hackTag {
        @include fontSFPro();
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        position: absolute;
        right: 8px;
        z-index: 10;
      }
    }

    .coverBottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 37px;
      // border: 1px solid red;
      position: absolute;
      bottom: 0;
      padding: 0 16px;
      z-index: 10;

      &::before {
        @extend .maskBottom;
      }

      .left {
        z-index: 10;
        .icon {
          color: #fff;
          margin-right: 4px;
          z-index: 10;
          transform: translateY(1px);
        }

        .iconHot {
          color: #ff9910;
          margin-right: 4px;
          z-index: 10;
        }

        .viewsNumber {
          @include fontSFPro();
          margin-right: 5px;
          font-size: 14px;
          color: #ffffff;
          z-index: 10;
        }
      }

      .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        z-index: 10;

        .color2 {
          margin-left: 16px;
        }

        .color {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 16px;
          @include fontSFPro();
          font-size: 14px;
          color: #ffffff;

          .colorCircle {
            border: 1px solid white;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            background-color: transparent;
          }

          .colorDesc {
            display: inline-block;
            padding-left: 5px;
            display: flex;
            align-items: center;
            line-height: 1;
          }
        }
      }
    }
  }

  .down_price_format {
    @include fontDIN();
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
    color: #3acdfe;
    height: 48px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: $down-price-max-length;
  }

  .down_tag_common {
    @include fontSFPro();
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    padding: 4px;
    margin-left: 8px;
    flex-shrink: 0;
  }

  // 卡片下半部分
  .down {
    width: $cardWidth;
    height: $cardHeight - 292px;
    padding: 8px 16px 0 16px;
    position: relative;

    // 价格显示行
    .price_row {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 12px;
      position: relative;
      box-sizing: border-box;

      .left {
        @extend .down_price_format;
        @include flex();
        flex-wrap: nowrap;
        position: relative;
        max-width: $down-price-max-length;
        box-sizing: border-box;

        padding-bottom: 6px;

        // 价格中数字部分
        .priceDisplay {
          // @extend .fixLength;
          max-width: 212px;
          margin-right: 8px;

          position: relative;
          display: inline-block;
          vertical-align: middle;
        }

        .priceCurrency {
          // border: 1px solid goldenrod;
        }
      }
      .msrp_tag {
        @extend .down_tag_common;
        border: solid 1px #007399;
        color: #007399;
      }

      .buy_tag {
        @extend .down_tag_common;
        border: solid 1px #ff9910;
        color: #ff9910;
      }
    }

    .desc_row {
      @include fontSFPro();
      @include multLine(2);
      line-height: 1.2;
      margin-bottom: 16px;
      width: 100%;
      height: 42px;
      font-size: 18px;
      font-weight: 600;
      color: #001a33;
    }

    .status_row {
      width: 100%;
      margin-bottom: 12px;
      height: 22px;
      .instock_tag {
        @include fontSFPro();
        display: inline-block;
        height: 22px;
        border-radius: 4px;
        background-color: #edf5ff;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        color: #4a9fff;
        padding: 2px 6px;
      }

      .incoming_tag {
        @include fontSFPro();
        display: inline-block;
        height: 22px;
        border-radius: 4px;
        background-color: #edffe0;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        color: #6fbe2c;
        padding: 2px 6px;
      }
    }

    .mileage_row {
      @extend .flexBox;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 12px;
      height: 21px;

      .mileage_icon {
        height: 21px;
        font-size: 16px;
        @include flexCenter();
        color: #4da6ff;
        margin-right: 8px;
        padding-bottom: 1px;
      }

      .mileage_info {
        @include fontSFPro();
        @extend .flexBox;
        height: 21px;
        font-size: 14px;
        color: #001a33;
      }
    }

    .buy_row {
      @extend .flexBox;
      justify-content: flex-start;
      border-top: 1px solid #ebebeb;
      width: 389px - 32px;
      height: 48px;
      overflow: hidden;

      .left,
      .right {
        @extend .flexBox;
        @include fontSFPro();
        justify-content: flex-start;
        height: 24px;
        font-size: 14px;
      }

      .left {
        max-width: 172px;

        .userAvatar {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          margin-right: 8px;
          box-sizing: border-box;
        }

        .hackDot {
          box-shadow: none;
          sup {
            right: 8px;
          }
        }

        .userName {
          @extend .fixLength;
          @include fontSFPro();
          max-width: 142px;
          color: #8a9199;
          display: inline-block;
          height: 100%;
          line-height: 24px;
        }
      }

      .right {
        min-width: 182px;
        color: #8a9199;
        flex-grow: 1;

        .iconFlag {
          width: 19px;
          height: 14px;
          margin: 0 8px 0 24px;
        }

        .countryInfo {
          @extend .fixLength;
          color: #8a9199;
          display: inline-block;
          height: 100%;
          line-height: 24px;
        }
      }
    }

    .sell_row {
      @extend .flexBox;
      justify-content: flex-start;
      border-top: 1px solid #ebebeb;
      width: 389px;
      height: 48px;
      overflow: hidden;
      height: 48px;
      position: absolute;
      left: 0;

      &_item {
        @include fontSFPro();
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: #001a33;
        text-align: center;
        height: 48px;
        line-height: 48px;
        padding: 0;

        &:nth-child(1) {
          width: 80px;
          border-right: 1px solid #ebebeb;
        }
        &:nth-child(2) {
          width: 189px;
          border-right: 1px solid #ebebeb;
        }
        &:nth-child(3) {
          width: 118px;
        }
      }
    }
    .sell_garage_row {
      @extend .flexBox;
      justify-content: flex-start;
      border-top: 1px solid #ebebeb;
      width: 389px;
      height: 48px;
      overflow: hidden;
      height: 48px;
      position: absolute;
      left: 0;

      &_item {
        @include fontSFPro();
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: #001a33;
        text-align: center;
        height: 48px;
        line-height: 48px;
        padding: 0;

        &:nth-child(1) {
          width: 137px;
          border-right: 1px solid #ebebeb;
        }
        &:nth-child(2) {
          width: 106px;
          border-right: 1px solid #ebebeb;
        }
        &:nth-child(3) {
          width: 144px;
        }
      }
    }
  }

  // 最右侧没有margin-right
  // &:nth-child(3n) {
  //   margin-right: 0;
  // }
}
